pkgbase = flyover
	pkgdesc = A real-time ADS-B radar scope for your terminal, built for Omarchy
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/linuxbren/flyover
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	options = !lto
	source = flyover-0.3.0.tar.gz::https://github.com/linuxbren/flyover/archive/v0.3.0.tar.gz
	sha256sums = 69e988517a546f9497ac1812057a249c5af092eb2bf8693d9e50c95efa51fa99

pkgname = flyover
